.vue-tags-input .tag-center {
  .tag-input {
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    top: 0px;
    position: absolute;
    width: 100%;
  }

  .tag-input::-ms-clear {
    display: none;
  }

  input:focus {
    outline: none;
  }

  input[disabled] {
    background-color: transparent;
  }
}
