@import "~colors";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #646464;
  overflow-y: hidden;
  box-sizing: border-box;
  font-size: 14px;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

input:focus {
  outline: none;
}

::-moz-selection {
  color: #fff;
  background: $primary;
}
::selection {
  color: #fff;
  background: $primary;
}

h1, h2, h3, h4 {
  color: $primary;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1 {
  margin-top: 30px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.code {
  background-color: #fafafa;
  color: #5a7994;
  font-size: 0.9em;
  padding: 3px;
  font-family: 'Oxygen Mono', monospace;
}

.content {
  max-width: 900px;
}

.page span, .page p {
  line-height: 24px;
}

@media (max-width: 940px) {
  body {
    font-size: 12px;
  }

  .page span, .page p {
    line-height: 20px;
  }
}
