@import "~colors";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background: $dark;
  overflow-y: hidden;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  color: $lightestGrey;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  font-weight: bold;
  color: inherit;
  cursor: pointer;
}

a:focus {
  outline: none;
}

input:focus {
  outline: none;
}

::-moz-selection {
  color: #283944;
  background: yellow;
}
::selection {
  color: #283944;
  background: yellow;
}

h1, h2, h3, h4 {
  color: $lightGrey;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 15px;
  color: #fff;
}

h1 {
  margin-top: 42px;
  line-height: 1.1em;
}

h2 {
  margin-top: 35px;
}

.code {
  background-color: $middle;
  color: $lightestGrey;
  font-size: 0.9em;
  padding: 2px 3px;
  font-family: 'Oxygen Mono', monospace;
}

.content {
  max-width: 960px;
}

@media (max-width: 940px) {
  body {
    font-size: 14px;
    line-height: 21px;
  }
}
