$primary: #ebde6e;
$accent: #b54588;
$error: #e54d42;
$success: #68cd86;
$warn: #ffb648;
$lightestGrey: #b7c4c9;
$lightGrey: #a4b1b6;
$grey: #8b9396;
$middle: #324652;
$dark: #283944;
$darker: #1e2a31;
