@import "~colors";

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  outline: none;
}

body {
  font-family: 'Raleway', sans-serif;
  color:#2E2E2E;
  overflow-y: hidden;
  box-sizing: border-box;
  font-size: 1.1em;
}

ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

a {
  font-weight: bold;
  color: inherit;
}

input:focus {
  outline: none;
}

::-moz-selection {
  color: #fff;
  background: $primary;
}
::selection {
  color: #fff;
  background: $primary;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

h1 {
  margin-top: 45px;
  margin-bottom: 15px;
}

h2 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.code {
  background-color: #fffeec;
  font-family: consolas;
}
